body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  margin-top: 4em;
}
.search-input{
  box-sizing: 'border-box';
  border: '1px solid transparent';
  width: '240px';
  height: '32px';
  margin-top: '27px';
  padding: '0 12px';
  border-radius: '3px';
  box-shadow: '0 2px 6px rgba(0, 0, 0, 0.3)';
  font-size: '14px';
  outline: 'none';
  text-overflow: 'ellipses';
}
.voucher-type{
  font-size: 9px;
  padding: 5px;
  color: #333333;
  float: left;
  display: block;
  text-align: center;
  border: 1px solid #c6c6c6;
  margin-bottom: 5px;

  i{
    font-size: 2em;
  }
}
.page-footer{
}
.socialButton{
  
}
.logo{
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 2px;
  .logo-voucher{
    color: #ffa900;
  }
}
.upload-btn{
  border-radius: 5px;
  border: 1px solid #ffa900;
}
.full {
  padding-top: 3em !important;
  padding: 1em !important;
  margin: 0 auto !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

  .banner-text{
    margin-top: 5em;

    h2, h5{
      margin-top: 1em;
    }

    h2{
      font-size: 40px;
      line-height: 50px;
      font-weight: 600;
      color: #fff;
      margin: 0 0 8px;
    }

    h5{
      font-size: 22px;
      line-height: 30px;
      font-weight: 400;
      color: #fff;
      margin: 0 0 35px;
      display: block;
    }
  }
}
.home-search{
  margin-top: 2em;
  margin-bottom: 7em;    
}
.overlay{
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}
.bg-red{
  background-color: #f34636 !important;
}
