.container-page-shipper {
  margin-top: 110px;
  margin-bottom: 30px;
  .top-shipping {
    .total-product {
      display: inline-block;
      .text-title-shipping {
        line-height: 40px;
        text-transform: uppercase;
        font-size: 14px;
        color: #666;
        font-weight: bold;
      }
    }
  }
  .cart-overview.js-cart {
    background-color: #f4f4f4;
    .cart-items {
      padding: 0;
    }
  }
  .shipping-form {
    background-color: #f4f4f4;
    padding: 15px;
  }

  li.cart-item {
    border-bottom: 1px solid #d1d1d1;
  }
  li.cart-item:last-child {
    border-bottom: none;
  }
  h4.title-page {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
