/* @import "node_modules/react-image-gallery/styles/scss/image-gallery.scss"; */
.voucher-show{
  margin-top: 5rem;
  .image-gallery-image{
    padding: 0 5em;
    height: 15rem;
  }

  .image-gallery-thumbnails-container{
    img{
      height: 5rem;
    }
  }

  .voucher-show-content{
    padding: 1em;
  }
  
  .store-content{
    margin-top: 4rem;
  }
  .image-gallery-left-nav, .image-gallery-right-nav{
    font-size: 3em !important;
  }
}